.DateInput{
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 4px;
    margin-bottom: 8px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.DateInput:focus{
    outline: none;
}