.SelectDate {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchInput {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 6px;
  border-radius: 12px;
}

.Input {
  border: none;
  font-size: 16px;
}

.Input:focus{
  outline: none;
}

.SearchAction:hover{
  cursor: pointer;
}
